# dependencies
/node_modules
/dist

.env

# System Files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Links
*.lnk
.idea/
*.PEM
.vscode/

# Logs
npm-debug.log


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Serverless Webpack directories
.webpack/
